/* color codes:
    gul = #ffcc3d 
    lilla = #4f2683 */
body {
    background-color: #4f2683;
    text-align: center;
    margin: 20px;
}
img {
    width: 100%;
    height: auto;
}
a    {
    color: rgb(94, 126, 231);
    text-decoration: none;
}
a:hover {
    color: #4f2683;
}
figure {
    border: #4f2683 1px solid;
    padding: 4px;
}
figcaption {
    background-color: #fff;
    padding: 2px;
    color: #000;
    font-size: 0.7rem;
    font-style: italic;
    text-align: center;
}
#item-a {
    grid-area: header;
    width: 1fr 1fr;
    height: 192px;
    background-size: 100%;
    background-color: #fff;
    border: 10px solid #ffcc3d;
}
#item-b {
    grid-area: nav;
    text-align: left;
    background-color: #fff;
    border: 10px solid #ffcc3d;
}
#item-c {
    grid-area: main;
    background-color: #4f2683;
    border: 10px solid #ffcc3d;
}
#item-d {
    grid-area: aside;
    background-color: #fff;
    border: 10px solid #ffcc3d;
    padding: 20px;
}
#item-e {
    grid-area: footer;
    background-color: #fff;
    border: 10px solid #ffcc3d;
}
#item-b ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
  }
#item-b li a {
    display: block;
    color: #4f2683;
    font-size: 1.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ffcc3d;
    border-color: #4f2683;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 8px 16px;
    text-decoration: none;
}
#container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 16% auto auto 12%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header header"
        "nav main main aside"
        "footer footer footer footer";
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#container > div {
    text-align: center;
}
article {
    text-align: left;
    background-color: #ffffff;
    color: #464444;
    border: #4f2683 2px solid;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
article h2 {
    background-color: #ffcc3d;
    color: #4f2683;
    padding: 4px;
    margin-left: 20px;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    border-left: #000 1px solid;
}
article h3 {
    font-size: 0.85rem;;
    margin: 0 20px;
    padding: 4px;
}
article p {
    background-color: #ffffff;
    padding: 10px;
    margin: 0 20px 20px 20px;
}
.article-date {
    font-size: 0.75rem;
    color: gray;
    text-align: right;
    padding: 2px;
    margin: 4px 6px 0 0;
}
#nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
iframe {
    width: 80%;
    margin: 0 60px 30px 30px;
    border: #000 1px solid;
}

@media screen and (max-width: 600px) {
    #youtube-video 
      display: none;
    }